/Capitol_1/build/
/Capitol 1 v2/build/
/Capitol_1/nbproject/private/
/Capitol 1 v2/nbproject/private/
/Capitol_1/build.xml
/Capitol 1 v2/build.xml
/Capitol_1/manifest.mf
/Capitol 1 v2/manifest.mf
/Capitol_1/logs.txt
/Capitol 1 v2/logs.txt
/Capítol 1/Capitol 1 v2/nbproject/private/
/Capítol 1/Capitol 1 v2/build/